In [1]:
a='python'
b="programming"
c='A'
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

python
programming
A
<class 'str'>
<class 'str'>
<class 'str'>

In [12]:
a="python"
print(a[0])
print(len(a))
print(a[len(a)-1])
print(a[-1])
print(a[-4])

p
6
n
n
t

In [20]:
print(a[0:2])
print(a[-2:])
print(a[-4:])
print(a[2:5])
print(a[1::-1])
print(a[1:-1])

py
on
thon
tho
yp
ytho

In [21]:
a[::2]

'pto'

In [28]:
a[-1::-1]

'nohtyp'

In [25]:
a[::-2]

'nhy'

In [26]:
a[::3]

'ph'

In [30]:
#reverse the string
def revstr(a):
    return a[-1::-1]
revstr('bharath')

'htarahb'

In [32]:
#palindrome or not
def ispalendrome(a):
    if a==a[-1::-1]:
        return True
    return False
print(ispalendrome("python"))
print(ispalendrome("madam"))

False
True

In [36]:
#ASCII
#A-Z :65-90
#a-z :97-122
#0-9 :48-57
# space :32
def printupper(a):
    for i in range(len(a)):
        if ord(a[i])>=65 and ord(a[i])<=90:
            print(a[i],end=' ')
    return
printupper('PyThOn')

P T O

In [35]:
ord('B')

66

In [43]:
ord(' ')

32

In [46]:
def findcharcount(s):
    cntupper=0
    cntlower=0
    for i in range(len(s)):
        if ord(s[i])>=65 and ord(s[i])<=90:
            cntupper+=1
        elif ord(s[i])>=97 and ord(s[i])<=122:
            cntlower+=1
    if cntlower==cntupper:
        return "same count"
    return "programming"
print(findcharcount('PyThoN'))
print(findcharcount('PyThon'))

same count
programming

In [47]:
def printnum(a):
    for i in range(len(a)):
        if ord(a[i])>=48 and ord(a[i])<=57:
            print(a[i],end=' ')
    return
printnum('Appli18cation89')

1 8 8 9

In [52]:
def printnum(a):
    sum=0
    for i in range(len(a)):
        if ord(a[i])>=48 and ord(a[i])<=57:
            sum=sum+(ord(a[i])-48)
    return sum
printnum('Appli18cation89')

26

In [60]:
def word(a):
    space=0
    for i in range(len(a)):
        if ord(a[i])==32:
            space+=1
        if space==1:
            if ord(a[i])>=65 and ord(a[i])<=90:
                print(a[i],end='')
            elif ord(a[i])>=97 and ord(a[i])<=122:
                print(chr(ord(a[i])-32),end='')
        if space==2:
            break
    return
word('Python Made Easy')

MADE

In [64]:
li=[1,2,3,4,5]
print(li)
print(li[2])
print(li[-2])

[1, 2, 3, 4, 5]
3
4

In [67]:
li=["Gitam",345,457,658,"Vizag"]
print(li)
li[1]=123 #update list item
print(li)

['Gitam', 345, 457, 658, 'Vizag']
['Gitam', 123, 457, 658, 'Vizag']

In [68]:
del li[3] #delete
print(li)

['Gitam', 123, 457, 'Vizag']

In [72]:
li=[1,2,3,4,5]
print(len(li))
print(li *2)
print(4 in li)
print(10 in li)
for i in range(len(li)):
    print(li[i],end=' ')

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False
1 2 3 4 5

In [77]:
li=[1,9,16,25,5]
print(max(li)) #max no
print(min(li)) #min no
print(sum(li)) #sum of no
print(sum(li)//len(li)) #average

25
1
56
11

In [15]:
def createFile(filename):
    f=open(filename,'w')
    for i in range(10):
        f.write('this is %d line\n'%i)
    print('file is succesfully created and data has inserted')
    return
createFile('data.txt')

file is succesfully created and data has inserted

In [16]:
pwd

'C:\\Users\\Shashidhar\\Desktop\\problem solving and programming\\day 3(18-09-19)'

In [17]:
def appendMode(filename):
    f=open(filename,'a')
    f.write('gitam vizag\n')
    f.write('python programming\n')
    print('program completed successfully')
    return
appendMode('data.txt')

program completed successfully

In [18]:
pwd

'C:\\Users\\Shashidhar\\Desktop\\problem solving and programming\\day 3(18-09-19)'

In [19]:
def readFiledata(filename):
    f=open(filename,'r')
    if f.mode=='r':
        a=f.read()
        print(a)
    f.close()
    return
readFiledata('data.txt')

this is 0 line
this is 1 line
this is 2 line
this is 3 line
this is 4 line
this is 5 line
this is 6 line
this is 7 line
this is 8 line
this is 9 line
gitam vizag
python programming

In [21]:
def wordcount(filename):
    with open(filename,'r')as f:
        if f.mode=='r':
            a=f.read()
            li=a.split()
    return len(li)
wordcount('data.txt')

44

In [ ]:
# specific word count from the file
# example 1
# input--this
# output