In [ ]:
# design spiral star
import turtle as t
a=t.Turtle()
a.pencolour('blue')
for i in range(50):
    a.forward(i*10)
    a.left(144)
t.done()

In [ ]:
# design spiral square
import turtle as t
a=t.Turtle()
a.pencolor('blue')
for i in range(500):
    a.forward(i)
    a.left(91)
t.done()

In [ ]:
# design hexagon
from turtle import * 
pencolor('blue')
colors=['blue','green','red','yellow','orange','purple']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100+1)
    forward(i)
    left(59)

In [ ]:
# design circle
from turtle import *
pensize(20)
pencolor('blue')
fillcolor('purple')
begin_fill()
circle(100)
end_fill()

In [ ]:
# design TAngent circle
from turtle import *
pensize(2)
pencolor('orange')
for i in range(15):
    circle(10*i)

In [ ]:
# design Spiral circle
from turtle import *
pensize(2)
pencolor('orange')
for i in range(100):
    circle(10+i,45)

In [ ]:
# design circle
from turtle import *
pensize(2)
colors=('orange','green','red','blue','yellow','purple')
for i in range(30):
    pencolor(colors[i%6])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

In [ ]:
# design Olympics logo
from turtle import *
pensize(6) # Set the pencsize to 6 pixels
r1=["blue","black","red"]
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(45)
r2=["","yellow","","green"]
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [ ]:
# design Audi logo
from turtle import *
pensize(6) # Set the pencsize to 6 pixel
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

In [ ]:
# car
from turtle import *
bgcolor('green')
color('#2B28F6')
fillcolor('#2B28F6')
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(570)
left(90)
forward(80)
end_fill()

#code for drawing and roof
pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)

# code for drawing two typres
penup()
goto(200,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()
penup()
goto(400,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()

### Idiomatic Python
- transformation Code int beautiful, idiomatic Python
- replaces traditional index manipulation with Python code looping idioms

In [2]:
# looping over the collection
li=[1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
# pythonic way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [1]:
# looping over a range of number
for i in [0,1,2,3,4,5]:
    print(i**2,end=' ')
print()
# pythonic way
for i in range(6):
    print(i**2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [1]:
li=[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=" ")
print()
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [3]:
li=[1,2,3,4,5]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [4]:
li=[8,1,25,16,9,2]
for i in sorted(li):
    print(i,end=' ')
print()
for i in sorted(li,reverse=True):
    print(i,end='')

1 2 8 9 16 25
25169821

In [7]:
d={'Name':'Gitam','EmailID':'gitamhotmail@gmail.com','address':'vizag'}
for k in d:
    print(k,end=' ')
print()

Name EmailID address

In [10]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]

In [11]:
print(d)

{'Name': 'Gitam', 'EmailID': 'gitamhotmail@gmail.com', 'address': 'vizag'}

In [13]:
for k in d.values():
    print(k,end=' ')

Gitam gitamhotmail@gmail.com vizag

In [15]:
li=[]
for i in range(10):
    a=i**2
    li.append(a)
    
print(sum(li))
print()
print(sum(i**2 for i in range(10)))

285

285

In [24]:
import pandas as pd
internal1={'s1':35,'s2':35,'s3':35}
internal2={'s1':35,'s2':35,'s3':35}
internal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    35
s3    35
dtype: int64
s1    35
s2    35
s3    35
dtype: int64

In [25]:
final={'Internal1':internal1,'Internal2':internal2}
final=pd.DataFrame(final)
print(final)

    Internal1  Internal2
s1         35         35
s2         35         35
s3         35         35

In [26]:
final.columns

Index(['Internal1', 'Internal2'], dtype='object')

In [27]:
final.values

array([[35, 35],
       [35, 35],
       [35, 35]], dtype=int64)

In [28]:
final.values[1]

array([35, 35], dtype=int64)

In [29]:
for row in final.values:
    print('internal1-',row[0],'internal2-',row[1])

internal1- 35 internal2- 35
internal1- 35 internal2- 35
internal1- 35 internal2- 35

In [31]:
final.loc['s4']=[20,18]
final

    Internal1  Internal2
s1         35         35
s2         35         35
s3         35         35
s4         20         18

In [48]:
filepath='C:/Users/Shashidhar/Desktop/problem solving and programming/DataFiles/income.csv'
def readCsvData(filepath):
    return pd.read_csv(filepath)
df=readCsvData(filepath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [49]:
def avgofstate():
    s=0
    for i in range(2,11):
        s+=df.values[4][i]
    return s//len(df.values[4][2:])
avgofstate()

55350

In [51]:
def printDataFrameColumns(df):
    li=[]
    columns=df.columns
    for i in columns:
        li.append(i)
    return li
printDataFrameColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [52]:
df.shape

(5, 11)

In [53]:
df.tail

<bound method NDFrame.tail of        GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528  >

In [54]:
df.head

<bound method NDFrame.head of        GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528  >

In [55]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [56]:
 list(map((lambda x:x**2), filter((lambda x:x%2==0), range(10))))

[0, 4, 16, 36, 64]

In [57]:
list(map((lambda x:x^2), range(10)))

[2, 3, 0, 1, 6, 7, 4, 5, 10, 11]

In [58]:
math.fact(6)

NameError: name 'math' is not defined

In [59]:
k = [print(i) for i in my_string if i not in "aeiou"]

NameError: name 'my_string' is not defined